[Desktop Entry]
Type=Application
Exec=run_tops.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[bs_BA]=tops
Name=tops
Comment[bs_BA]=
Comment=
